@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

*
{   box-sizing: border-box;
}

:root
{   --font-family: "Berkshire Swash", cursive;
    /* --font-family: "Pacifico", cursive; */
    /* --head-bg-color: green; */
    /* --head-brd-color: #004400; */
    --head-bg-color: lightgray;
    --head-brd-color: #333333;
    /* --text-color: black; */
    --text-color: #333333;
}

body
{   background: #efefef;
    color: var(--text-color);
    /* font-family: var(--font-family); */
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

header
{   background: var(--head-bg-color);
    border: 2px solid var(--head-brd-color);
    border-radius: 2px;
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    position: relative;
    text-align: center;
}

.GIPHY
{   font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    bottom: 10px;
    right: 10px;
    position: absolute;
}

/* h1, h2 */
h1
{   font-family: var(--font-family);
}

/* section */
main
{   margin: 25px;
}

/* begin style for aside
*/

aside
{   background: rgba(0, 255, 0, 0.5);
    border: 2px solid black;
    border-radius: 2px;
    height: 100%;
    float: left;
    margin-right: 25px;
    width: 150px;
}

aside hr
{   margin-bottom: 10px;
    margin-top: 10px;
}

/* aside button, main button, main a */
.button-theme, .favorites-button
{   background: blue;
    border: 1px solid darkblue;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
    padding: 5px;
    text-decoration: none;
}

.favorites-button
{   background: darkblue;
    border-color: black;
    margin-bottom: 10px;
}

/* aside button:hover, main button:hover, main a:hover */
.button-theme:hover, .favorites-button:hover
{   background: white;
    color: darkblue;
}

/* end style for aside
*/

/* begin style for main div
*/

/* main */
section
{   background: rgba(0, 0, 255, 0.5);
    border: 2px solid black;
    border-radius: 2px;
    float: left;
    width: 70%;
    /* padding: 25px; */
}

.image-div
{   /* float: left; */
    /* display: inline-block; */
    clear: both;
    margin-bottom: 25px;
    margin-right: 25px;
    width: 100%;
}

#image-main img
{   border: 1px solid black;
    border-radius: 2px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 2px;
}

/* end style for main div
*/

/* Apparently you can't use percentage units (ie: margin: 10% auto;) to automatically center an
   element.  When I did, this <DIV> was placed as if I had specified bottom: 0px; left: 0px;.  Not only
   does it NOT center, but it seems to make up position as well?  Change margin to margin-left and
   position works as expected.  Go figure.
*/

#concert-div
{   background: #eeeeee;
    border: 2px solid gray;
    border-radius: 2px;
    display: none;
    height: auto;
    margin-left: 10%;
    max-height: 80%;
    overflow: auto;
    padding: 25px;
    position: fixed;
    top: 10%;
    width: 80%;
}

.event-close
{   border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 25px;
    top: 25px;
}

/* style specific to sticky footer
*/

body, html
{   height: 100%;
}

.wrapper
{   background: rgba(0, 255, 255, 0.5);
    height: auto;
    margin: 0px;
    margin-bottom: -43px;
    min-height: 100%;
    overflow: auto;
    /* padding: 25px; */
    padding: 10px;
}

.push
{   background: yellow;
    clear: both;
    height: 43px;
}

footer
{   background: var(--head-bg-color);
    border: 1px solid var(--head-brd-color);
    border-radius: 2px;
    color: var(--text-color);
    font-size: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
