@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

*
{   box-sizing: border-box;
}

:root
{   --font-family: "Berkshire Swash", cursive;
    --head-bg-color: lightgray;
    --head-brd-color: #333333;
    --text-color: #333333;
}

body
{   background: #efefef;
    color: var(--text-color);
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

header
{   background: var(--head-bg-color);
    border: 2px solid var(--head-brd-color);
    border-radius: 2px;
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    text-align: center;
}

.GIPHY
{   font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    bottom: 10px;
    right: 10px;
    position: absolute;
}

h1
{   font-family: var(--font-family);
}

main
{   position: relative;
}

/*                                  */
/* begin style for aside            */
/*                                  */

aside
{   height: 100%;
    float: left;
    margin-right: 5%;
    width: 15%;
}

.form-div
{   border: 2px solid var(--head-brd-color);
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 2px;
}

#button-to-add
{   width: 100%;
}

.button-div button
{   display: block;
}

.button-theme, .favorites-button
{   background: gray;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
    max-width: 100%;
    padding: 5px;
    text-decoration: none;
}

.favorites-button
{   background: var(--head-brd-color);
    border-color: var(--head-brd-color);
}

.flash-it-theme-light
{   background: white;
    color: var(--head-brd-color);
}

.button-theme:hover, .favorites-button:hover
{   background: white;
    color: var(--head-brd-color);
}

.button-bar
{   height: 32px;
}

/*                                  */
/* begin style for main div         */
/*                                  */

section
{   float: left;
    width: 80%;
}

.image-div
{   clear: both;
    margin-bottom: 25px;
    margin-right: 25px;
    width: 100%;
}

.image-div p
{   margin-bottom: 5px;
    margin-top: 5px;
}

#image-main img
{   border: 1px solid black;
    border-radius: 2px;
    /* display: block; */
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 2px;
}

/*                                  */
/* end style for main div           */
/*                                  */

#concert-div
{   background: #eeeeee;
    border: 2px solid gray;
    border-radius: 2px;
    display: none;
    height: auto;
    margin-left: 10%;
    max-height: 80%;
    overflow: auto;
    padding: 25px;
    position: fixed;
    top: 10%;
    width: 80%;
}

.event-close
{   border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 25px;
    top: 25px;
}

/*                                  */
/* style specific to sticky footer  */
/*                                  */

body, html
{   height: 100%;
}

.wrapper
{   height: auto;
    margin: 0px;
    margin-bottom: -43px;
    min-height: 100%;
    overflow: auto;
    padding: 10px;
}

.push
{   clear: both;
    height: 43px;
}

footer
{   background: var(--head-bg-color);
    border: 1px solid var(--head-brd-color);
    border-radius: 2px;
    color: var(--text-color);
    font-size: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

/*                                      */
/* media queries for responsive layout  */
/*                                      */

@media screen and (max-width: 768px)
{   .GIPHY
    {   position: relative;
        top: 5px;
    }
    
    aside
    {   margin-bottom: 10px;
        width: 100%;
    }

    .form-div
    {   float: left;
        width: 100%;
    }

    .button-div
    {   float: left;
        width: 100%;
    }

    .button-div button
    {   display: inline;
    }

    main, #image-main
    {   clear: both;
        width: 100%;
    }

    .image-main img
    {   width: 100%;
    }
}
